* , ::after, ::before
{
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 10000px;
  background-color: #e8f2f7;
}
//////////////////////
.title{
  width: 100%;
  background-color: #fdfdfd;
}
.nav-link {
  margin: auto;
  width: 100%;
  max-width: 1180px;
  padding-right: 0;
  padding-left: 0;
}
.nav-link ul {
  padding: 20px 0;
  display:  flex;
  align-items: center;
  white-space: nowrap;
  margin: 0;
  width: 100%;
}
.nav-link ul li {
  display: flex ;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding-right: 5px;
}
.big-title{
  padding-bottom: 15px;
}
.big-title,.big-title-head{
  text-align: center;
}
.head-main-title {
  color: #00b5f1;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 9px;
  line-height: 48px;
  font-family: Montserrat, sans-serif !important;
}
.head-sub-title
{
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
  color: #003553;
}
.bib-title-body{
  margin-top: 28px;
}
.body-form {
  display: flex;
  align-items: center ;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}
.body-form-content{
  justify-content: space-between ;
  width: 700px;
  height: 52px;
  box-shadow: 4px 8px 30px 0 rgba(177, 196, 218, .35);
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  padding: 14px;
  gap: 8px;
}
.body-form-item{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.body-form-icon{
  display: flex;
  align-items: center;
}
.body-form-input{
  overflow: hidden ;
}
.body-form-inputItem{
  width: 100%;
}
.input-form{
  position: relative;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  border-radius: 3px;
  background-color: #fff;
  display: inline-flex;
  transition: all .3s;
}
.input-form::before{
  width: 0;
  visibility: hidden;
  content: "\a0";
}
.input-form input{
  padding: 0;
  border: none;
  outline: none;
}
.nav-menu{
  list-style: none;
  padding: 24px 0;
  border-top: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  margin-top: 0 !important;
}
.nav-menu li button{
  color: #06a2fd;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 10px 16px;
  background: #ebf9fd;
  border-radius: 40px;
  border: 1px solid transparent;
  transition: all .15s ease;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}
.nav-menu li button:hover{
  box-shadow: 0 5px 0 rgba(0, 0, 0, .4 );
}
/////////////////////////
.content{
  max-width: 1180px;
  padding-right: 0;
  padding-left: 0;
}
.ex{
  width: 100%;
  margin: auto;
}
.left-content{
  padding-top: 10px;
  display: block;
  flex: 0 0 62.5%;
  max-width: 58%;
  padding-left: 30px;
  padding-right: 13px;
}
.content-detail{
  position: relative;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  min-height: 130px;
  margin-bottom: 26px;
  background: #fff;
  border: 2px solid transparent;
  transition: all .23s ease;
  border: 2px solid #00b5f1;
  box-shadow: 0 4px 15px rgba(116, 157, 206, .5);
  align-items: flex-start;
  flex-direction: column;
}
.conent-data{
  width: 100%;
  display: flex;
  gap: 10px;
}
.content-image{
  width: 190px;
  height: 190px;
}
.content-body{
  width: 100%;
}
.content-text{
  width: 100%;
  margin-bottom: 12px;
}
.content-title-text{
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 12px;
  width: 90%;
}
.content-address{
  display: flex;
  gap: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #858585;
  margin-top: 8px;
}
.content-ratting {
  margin-top: 8px;
  color: #ffb54a;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: flex; /* Sử dụng flexbox để căn chỉnh */
  align-items: center; /* Đảm bảo thẳng hàng theo chiều dọc */
}

.content-ratting ul {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 6px;
  font-size: 18px;
  color: rgb(255, 181, 74);
}

.content-ratting ul li {
  display: inline-block;
  margin-top: 0; /* Loại bỏ margin-top để thẳng hàng */
}
.content-button-ex{
  display: flex;
  justify-content: flex-end; /* Căn nút về phía bên phải */
  margin-top: auto; /* Đẩy nút xuống phía dưới */
  gap: 12px; /* Khoảng cách giữa các nút */
}
.content-button-ex button{
  border: 1px solid #00b5f1;
  height: 42px !important;
  padding: 10px 16px;
  width: 120px;
  transition: all .3s ease;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.content-button-color{
  background: linear-gradient(83.63deg, #00b5f1 33.34%, #00e0ff 113.91%);
  color: #fff;
}
.content-button-ex button:hover{
  box-shadow: 0 4px 15px rgba(116, 157, 206, .5);
}
